/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 8px 20px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

/* Menu Icon */
.menu-icon {
  cursor: pointer;
  color: white;
  z-index: 1050;
}

/* Menu Overlay */
.menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  padding-top: 50px;
  overflow: hidden;
}

/* Menu Close Icon */
.menu-overlay .menu-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: white;
}

/* Menu List */
.menu-overlay ul {
  list-style: none;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Menu List Items */
.menu-overlay li {
  width: 40%; 
  max-width: 220px; 
  text-align: center;
  margin: 10px 0;
  font-size: 20px;
  cursor: pointer;
  padding: 12px 16px;
  border-radius: 5px;
  transition: background 0.3s ease, color 0.3s ease-in-out;
  position: relative;
  color: white;
  transform-origin: center;
  overflow: hidden;
}

/* Hover Effect */
.menu-overlay li:hover {
  color: rgba(255, 255, 255, 0.85);
  clip-path: inset(0 -5px 0 -5px); 
}

/* Underline Animation */
.menu-overlay li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 1px;
  background: white;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.menu-overlay li:hover::after {
  width: 100%;
  left: 0;
}

/* Logo */
.tk-logo {
  font-size: 2.5em;
  margin-left: 20px;
}
